# All required dependencies for this python project go here.

# Gym environment
gym

# Data and Maths
numpy
pandas
scipy

# Visualisation
matplotlib
seaborn

# Format and Code Checks
black
pylint
flake8

# Debugging
icecream


# Terminal
rich
